body {
    font-family: Arial, Helvetica, sans-serif;
}

#themeButton {
    position: fixed;
    bottom: 5vh;
    left: calc(50vw - 30px);
    width: 59px;
    height: 30px;
    border-radius: 20px;
}

#switchButton {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#chat {
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    max-height: 65vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(55vw - 30px);
    max-width: 400px;
}

/* Убирает полосу прокрутки */
#chat::-webkit-scrollbar {
    width: 0;
}

.message {
    border-radius: 20px;
    margin-top: 10px;
    padding: 12px 15px;
    display: inline;
    text-align: right;
}

.answer {
    border-radius: 20px;
    margin-top: 10px;
    padding: 12px 15px;
    display: inline;
    text-align: right;
}

.lineBlock {
    display: inline;
}

button {
    appearance: none;
    border: 0;
    border-radius: 0;
    background: none;
    font-size: medium;
    margin: 3px 0px;
    padding: 0px;
}

a {
    color: #1f1f1f;
    text-decoration: none;
}

table {
    position: absolute;
    bottom: 35vh;
}

#photo {
    margin-top: auto;
    width: 70px;
    height: 70px;
    clip-path: circle(35px at 50% 50%);
}

img {
    position: absolute;
    margin: 1px;
    width: 68px;
    height: 68px;
    clip-path: circle(34px at 50% 50%);
}

.collEmpty {
    width: 20vw;
    min-width: 70px;
}

.collchat {
    width: 60vw;
    max-width: 400px;
    box-sizing: border-box;
}

.collPhoto {
    width: 20vw;
    min-width: 70px;
    vertical-align: bottom;
    text-align: left;
    padding-bottom: 10px;
}